<% if user_signed_in? %>

<%= simple_form_for @recipe, :remote => true do |f| %>

<div class="modal-header">
        <button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">&times;</span><span class="sr-only">Close</span></button>
        <h4 class="modal-title" id="myModalLabel">New Recipe</h4>
  </div>
  <h4> Make a new recipe ! </h4>

<div class = "modal-body">
  <div class="row">
    <div class = "col-xs-6">
    <%= f.input :name, :input_html => {:style => "height:40px;"} %></div>
    <div class = "col-xs-6">
    <%= f.input :photo,:input_html => {:style => "height:40px;"}  %></div>
  </div>
  <div class="row">
    <div class = "col-xs-6">
    <%= f.input :cuisine,:input_html => {:style => "height:40px;"}  %></div>
    <div class = "col-xs-6">
    <%= f.input :category,:input_html => {:style => "height:40px;"}  %></div>
  </div>
  <div class="row">
    <div class = "col-xs-6">
    <%= f.input :cooking_time,:input_html => {:style => "height:40px;"}  %></div>
    <div class = "col-xs-6">
    <%= f.input :serving_size,:input_html => {:style => "height:40px;"}  %></div>
  </div>
  <!-- <div class = "warning" style="border:2px;"> -->
    <div id="" style="overflow-y: scroll; height:300px; border:1px solid green;"><hr>

<table class = "table">
      <%= f.simple_fields_for :ingredients, input_html: {class: 'span2'}, wrapper_html: {class: 'controls controls-row'} do |m| %>
      <tr>  <td class = "col-xs-4">

        <%= m.input :qty, :input_html => {class: 'span1', :style => "width:200px; height:40px;"}, placeholder: "eg: 1 cup", prompt: "enter a quantity" %>
      </td>
      <td class = "col-xs-4">

        <%= m.input :style, :input_html => {class: 'span1', :style => "width:200px; height:40px;"}, placeholder: "sliced" %>
      </td>
      <td class = "col-xs-4">

        <%= m.input :name, :input_html => {class: 'span1', :style => "width:200px; height:40px;"}, placeholder: "tomatoes" %>
      </td>
      <td><%= m.check_box :_destroy %>
          <%= m.label :_destroy, 'delete' %>
      </td>
    </tr>
  <% end %>
  <%= f.submit 'Add ingredient', class: "btn btn-default", :name => "add_ingredient" %>&nbsp;&nbsp;
  <%= f.submit 'Delete checked ingredients', class: "btn btn-success",:name => "remove_ingredient" %>

</table><hr>
</div>
&nbsp;
<div><b>Preperation:</b></div>
  <%= f.text_area :method, :style => "width:700px; height:300px;" %>

</div>

<div class="modal-footer"><p>
        <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
        <%= f.submit class: "btn btn-success" %></p>
  </div>

<% end %>

<% end %>
