<% if user_signed_in? %>
<div class="navbar navbar-default">

  <div class="navbar-collapse collapse navbar-responsive-collapse">

    <ul class="nav navbar-nav navbar-right">
      <li class="dropdown">
        <a href="#" class="dropdown-toggle" data-toggle="dropdown" aria-expanded="false">My Account <b class="caret"></b></a>
        <ul class="dropdown-menu">
          <li><%= link_to "View Profile", root_path(:profile =>"1") %></li>
          <li><%= link_to "Sign Out", destroy_user_session_path, method: :delete %></li>
        </ul>
      </li>
    </ul>
  </div>
</div>


<div id ="main-heading">
  <div class="row">
    <div class="heading1">
      <h1>BUSY MOMS </h1>
    </div>
  </div>
  <div class ="row">
      <div class="col-md-8">
        <div class = "heading2">
          Making mommys happy !!
        </div>
      </div>
      <div class="col-md-4 search-recipe">
          <%= form_tag root_path, method: 'get', :class => "search-recipe" do %>
          <i class="fa fa-search search-recipe"></i>
           <%= text_field_tag :search, params[:search], class: "form-control search-recipe", placeholder: "Search a recipe" %>
          <% end %>
        </div>
      </div>
</div>

  <input type="text" id="recipe_title" value="">
  <input type="button" onClick="getRecipeJson()" value="Search">

<div class="btn-group btn-group-justified btn-group-lg">
<%= link_to "Add New Recipe", "#", class: "btn btn-warning", data: {toggle: "modal", target: "#newRecipeModal"} %>

<%= link_to "Place a new order", new_order_path ,class: "btn btn-success" %>
  <%= link_to "Check Status", root_path(:status => "1"), class: "btn btn-danger" %>
  <%= link_to "All Recipes", root_path, class: "btn btn-info" %>

</div>

<div class="modal fade" id="newRecipeModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
<div class="modal-dialog">
  <div class="modal-content">
    <div id="recipe-form">
      <%= render partial: 'pages/recipeform' %>

    </div>
  </div>
</div>
</div>

<% if params[:status] %>
  <div id="order_status">
    <%= render partial: "pages/orderstatus" %>
  </div>
<% elsif params[:profile] %>
    <div id="user_profile">
    <%= render partial: "users/edit" %>
    </div>
<% else %>
  <div id="recipes">
    <%= render partial: "pages/recipes" %>
  </div>

<% end %>

<script>
function getRecipeJson()
{
        var recipe = document.getElementById("recipe_title").value
        var apiKey = "dvxIHNad7v9H4BT7z21w4o6HM36kv0ix";
        //var titleKeyword = "lasagna";
        var url = "http://api.bigoven.com/recipes?pg=1&rpp=25&title_kw="
                  + recipe
                  + "&api_key="+apiKey;

        $.ajax({
            type: "GET",
            dataType: 'json',
            cache: false,
            url: url,
            success: function (data) {
                var templateHTML = $(".myTemplate").html();
                console.log(data);
                var compiler = _.template(templateHTML);
                var result = compiler(data);
              //  console.log(result);
                $("body").append(result);

              }
        });

  }

//$(window).ready(getRecipeJson);

</script>

<script type="text/template" class="myTemplate">

{{ _.each(Results, function(result){ }}
<div class="col-sm-6 col-md-4">
<div class="thumbnail">

<a href ="#" data-toggle="modal" data-target="#myModal"><img src= "{{= result.ImageURL }}"></a>
<span>{{= result.Title }}</span>
<div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">&times;</span><span class="sr-only">Close</span></button>
        <h4 class="modal-title" id="myModalLabel">Modal title</h4>
      </div>
      <div class="modal-body">
        <img src= "{{= result.ImageURL }}">
        <span>{{= result.Instructions }}
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
        <button type="button" class="btn btn-primary">Save To Favorites</button>
      </div>
    </div>
  </div>
</div>

</div>
</div>
{{ }); }}

</script>
<% end %>
