<div class="navbar navbar-inverse">
<div class="navbar-header">
  <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-inverse-collapse">
    <span class="icon-bar"></span>
    <span class="icon-bar"></span>
    <span class="icon-bar"></span>
  </button>
  <%= link_to "Busy Moms!", root_path(:home =>"1"), class: "navbar-brand" %>

</div>
  <div class="navbar-collapse collapse navbar-responsive-collapse">
    <ul class="nav navbar-nav navbar-right">
      <li class="dropdown">
        <a href="#" class="dropdown-toggle" data-toggle="dropdown" aria-expanded="false">My Account <b class="caret"></b></a>
        <ul class="dropdown-menu">
          <li><%= link_to "Add/Edit Profile", root_path(:profile =>"1") %></li>
          <li><%= link_to "Our payment policy", root_path(:payment =>"1") %></li>

          <li><%= link_to "Sign Out", destroy_user_session_path, method: :delete %></li>
        </ul>
      </li>
    </ul>
  </div>
</div>


    <div class="row">
      <div class="col-md-3">
          <div class="col-md-6">
          </div>
          <div class="col-md-6">
            <img src="http://www.sayhellohello.com/uploads/9/1/2/0/9120778/914699_orig.jpg" style="width:200px;height:100px">
          </div>
      </div>
      <div class="col-md-3" align="right" >

      <h1> Busy Moms</h1>

      </div>
      <div class="col-md-3"></div>
      <div class="col-md-3"></div>

</div>
<!-- <div class="row">
  <div class="col-md-3"></div>
  <div class="col-md-3" class="linestyle">

    <hr style="color:#333;background-color:#333;" class="linestyle" />
  </div>
  <div class="col-md-3"></div>
  <div class="col-md-3"></div>

</div> -->

  <div class ="row">
    <div class="col-md-3">

    </div>
      <div class="col-md-3" align="right">

        <h4>  Making mommys happy !! </h4>

      </div>
      <div class="col-md-3"></div>
      <div class="col-md-3">
          <%= form_tag root_path, method: 'get', :class => "search-recipe" do %>
          <input type="hidden" name="recipes" value="1"/>
          <div class="row">
          <div align="right" class="col-xs-4"><button :search, params[:search], class="btn btn-default" %> Search </div>
          <div class="col-xs-8">  <%= text_field_tag :search, params[:search], class: "form-control search-recipe", placeholder: "Search a recipe" %></div>
          </div>
          <% end %>
        </div>
    </div>


<!-- <p class="notice"><%= notice %></p>
<p class="alert"><%= alert %></p> -->

  <!-- <input type="text" id="recipe_title" value="">
  <input type="button" onClick="getRecipeJson()" value="Search"> -->
<p></p>
<div class="btn-group btn-group-justified btn-group-lg">
<%= link_to "Add New Recipe", "#", class: "btn btn-warning", data: {toggle: "modal", target: "#newRecipeModal"} %>

<%= link_to "Place a new order", new_order_path ,class: "btn btn-success" %>
  <%= link_to "Check Status", root_path(:status => "1"), class: "btn btn-danger" %>
  <%= link_to "All Recipes", root_path(:recipes => "1"), class: "btn btn-info" %>

</div>


<div class="modal fade bs-example-modal-lg" id="newRecipeModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
<div class="modal-dialog modal-lg">
  <div class="modal-content">
    <div id="recipe-form">
      <%= render partial: 'pages/recipeform' %>

    </div>
  </div>
</div>
</div>

<% if params[:status] %>
  <div id="order_status">
    <%= render partial: "pages/orderstatus" %>
  </div>
<% elsif params[:payment] %>
  <div id="payment">
    <%= render partial: "pages/payment" %>
  </div>

<% elsif params[:profile] %>
    <div id="user_profile">
    <%= render partial: "users/edit" %>
    </div>
<% elsif params[:recipes] %>
  <div id="recipes">
    <%= render partial: "pages/recipes" %>
  </div>

<% elsif params[:home] %>
<div class="banner">
  <ul>
    <li><img src ="http://creativebeautyhealth.com/wp-content/uploads/multi-tasking-mom.jpg"></li>
    <li><img src ="http://www.thestar.com/content/dam/thestar/life/parent/2011/12/01/moms_multitask_10_hours_more_per_week_than_dads_study/mom_juggles_work_andbaby.jpeg"></li>
    <li><img src ="http://livingthebalancedlife.com/wp-content/uploads/2011/02/multitasking-mom.jpg"></li>
    <li><img src ="http://www.ourkids.net/blog/wp-content/uploads/2011/12/busy-mom-600x.jpg"></li>

  </ul>
</div>

<% else %>
<div class="banner">
  <ul>
    <li><img src ="http://www.ourkids.net/blog/wp-content/uploads/2011/12/busy-mom-600x.jpg"></li>

    <li><img src ="http://creativebeautyhealth.com/wp-content/uploads/multi-tasking-mom.jpg"></li>
    <li><img src ="http://www.thestar.com/content/dam/thestar/life/parent/2011/12/01/moms_multitask_10_hours_more_per_week_than_dads_study/mom_juggles_work_andbaby.jpeg"></li>
    <!-- <li><img src ="http://livingthebalancedlife.com/wp-content/uploads/2011/02/multitasking-mom.jpg"></li> -->

<% end %>

<script>
$(window).ready(function(){

  $('.banner').unslider({
    speed: 1000,               //  The speed to animate each slide (in milliseconds)
    delay: 3000,              //  The delay between slide animations (in milliseconds)
    complete: function() {},  //  A function that gets called after every slide animation
    keys: true,               //  Enable keyboard (left, right) arrow shortcuts
    dots: true,               //  Display dot navigation
    fluid: false              //  Support responsive design. May break non-responsive designs
  });
});
</script>



<script>
function getRecipeJson()
{
        var recipe = document.getElementById("recipe_title").value
        var apiKey = "dvxIHNad7v9H4BT7z21w4o6HM36kv0ix";
        //var titleKeyword = "lasagna";
        var url = "http://api.bigoven.com/recipes?pg=1&rpp=25&title_kw="
                  + recipe
                  + "&api_key="+apiKey;

        $.ajax({
            type: "GET",
            dataType: 'json',
            cache: false,
            url: url,
            success: function (data) {
                var templateHTML = $(".myTemplate").html();
                console.log(data);
                var compiler = _.template(templateHTML);
                var result = compiler(data);
              //  console.log(result);
                $("body").append(result);

              }
        });

  }

//$(window).ready(getRecipeJson);

</script>

<script type="text/template" class="myTemplate">

{{ _.each(Results, function(result){ }}
<div class="col-sm-6 col-md-4">
<div class="thumbnail">

<a href ="#" data-toggle="modal" data-target="#myModal"><img src= "{{= result.ImageURL }}"></a>
<span>{{= result.Title }}</span>
<div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">&times;</span><span class="sr-only">Close</span></button>
        <h4 class="modal-title" id="myModalLabel">Modal title</h4>
      </div>
      <div class="modal-body">
        <img src= "{{= result.ImageURL }}">
        <span>{{= result.Instructions }}
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
        <button type="button" class="btn btn-primary">Save To Favorites</button>
      </div>
    </div>
  </div>
</div>

</div>
</div>
{{ }); }}

</script>
