
<body class="main-page">
  <div class="row" style="height:50px;">
    <div class="span12">&nbsp;&nbsp;&nbsp;&nbsp;</div>
  </div>
  <div class="row">
      <div class="span12">&nbsp;&nbsp;&nbsp;&nbsp;</div>
  </div>
  <div class="row">
    <div class="span12">&nbsp;&nbsp;&nbsp;&nbsp;</div>
  </div>
  <div class="row">
    <div class="span12">&nbsp;&nbsp;&nbsp;&nbsp;</div>
  </div>


  <div class="row">
    <div class="span12"></div>
  </div>


  <div id="main-row" class="row">
    <div class="col-sm-9"></div>
    <div class="col-sm-3">
      <span>

          <%= link_to "Existing Customer","#", "data-toggle"=>"modal", "data-target"=>"#signin-modal",class: "btn btn-default" %>
        </span>

<div class="modal fade" id="signin-modal" tabindex="-1" role="dialog" aria-labelledby="myLargeModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h2>Welcome busy mom! Please sign in </h2>
      </div>
      <div class="modal-body">
        <div id="signin-form">
          <%= render partial: "users/signinform" %>
        </div>
      </div>
    </div>
  </div>
</div>


<!-- <%= render "devise/shared/links" %> -->
<span>
<%= link_to "New Customer", "#", "data-toggle"=>"modal", "data-target"=>"#signup-modal", class: "btn btn-warning" %>
</span>

<div class="modal fade" id="signup-modal" tabindex="-1" role="dialog" aria-labelledby="myLargeModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h2>Welcome busy mom! please sign up</h2>
      </div>
      <div class="modal-body">
        <div id="signup-form">
          <%= render partial: "users/form" %>
        </div>
      </div>
    </div>
  </div>
</div>
</div>

<div class="row" style="height:50px;">
  <div class="span12">&nbsp;&nbsp;&nbsp;&nbsp;</div>
</div>
<div class="row">
  <div class="span12">&nbsp;&nbsp;&nbsp;&nbsp;</div>
</div>
<div class="row">
  <div class="span12">&nbsp;&nbsp;&nbsp;&nbsp;</div>
</div>
<div class="row">
  <div class="span12">&nbsp;&nbsp;&nbsp;&nbsp;</div>
</div>


<!-- <div class="row">
  <div class="span12"></div>
</div> -->
<div class="row">
  <div class="col-sm-9"></div>
  <div class="col-sm-3" align="center">
  <h1>  Busy Moms  </h1>
  </div>
  </div>
  <div class="row">
    <div class="col-sm-9"></div>
    <div class="col-sm-3" align="left">
      <h1>     <hr style="color:#333;background-color:#333;" class="linestyle" />
      </h1>
    </div>
  </div>
  <div class="row">
    <div class="col-sm-9"></div>
    <div class="col-sm-3" align="center">
      <h3> <i>   Making mommys happy!</i>
      </h3>
    </div>
  </div>

</div>
</body>
